.Line {
	display: flex;
	gap: var(--gap);
	height: 100%;
	align-items: center;
}

.Line.between {
	justify-content: flex-end;
}

.Line.between {
	justify-content: space-between;
}

.Line.center {
	justify-content: center;
}

.Line.evenly {
	justify-content: space-evenly;
}

.Line.around {
	justify-content: space-around;
}

.Line.rows {
	flex-direction: column;
	align-items: stretch;
}

.AlignStart {
	align-self: flex-start;
}

.AlignCenter {
	align-self: center;
}
