.Line {
	display: flex;
	gap: var(--gap);
	height: 100%;
	align-items: center;
}

.Line.between {
	justify-content: space-between;
}

.Line.center {
	justify-content: center;
}

.space-evenly {
	justify-content: flex-end;
	background-color: red;
	height: 500px;
	width: 500px;
}

.Line.rows {
	flex-direction: column;
	align-items: stretch;
}

.AlignStart {
	align-self: flex-start;
}

.AlignCenter {
	align-self: center;
}
