.Button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	background-color: #2196f3;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	transition: background-color 0.3s ease;
}
.Button:hover {
	background-color: #0d6ec3;
}
