.text-field {
  height: 100%;
  align-items: center;
}

.text-field label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px; /* Add some space between label and input */
}

.text-field input {
  width: 100%; /* Make the input element fill the entire width of the container */
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  transition: border-color 0.3s ease;
}

.text-field input:focus {
  outline: none;
  border-color: #2196f3;
}
